// ===== CSS charset ===== 
@charset "UTF-8";

// ===== Base parameters for entire document ===== 
* {
	padding: 0; 
	margin: 0; 
	outline: none; 
	box-sizing: border-box; 
}

.flex {
	display: flex;
}

.col {
	flex: 1;
	margin: 20px;
}

button {
	margin: 10px;
	padding: 5px;
}

.game_area {
	margin: 0px;
}

// body, .body {
// 	position: absolute;

// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;

// 	margin: 0;

// 	color: #000000;
// 	background-color: #EEEEEE;
// }

// .controls {
// 	display: flex;
// 	flex-wrap: wrap;
// 	float: left;
// }

// .controls > button {
// 	position: relative;

// 	min-width: 60px;
// 	max-width: 200px;
// 	flex-grow: 1;

// 	cursor: pointer;
// }

// .game {
// 	position: absolute;
// 	bottom: 0;
// 	top: 0;
// 	right: 0;
// 	left: 0;
// 	max-width: 100%;
// 	margin: auto auto;
// }

// Clean rendering
.game {
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
}

// ===== Styling for the header ===== 
// header {
// 	margin: auto; 
// 	padding-bottom: 10px; 
// 	width: 100%; 
// 	text-align: center; 
// }

// // ===== Styling for the navigation menu ===== 
// nav > #navigation {
// 	display: flex; 
// 	justify-content: center; 
// }

// nav > #navigation > a {
// 	margin: 5px; 
// }

// // ===== Styling for the body ===== 
// main {
// 	padding: 5px; 
// 	text-align: center; 
// }

// // ===== Styling for the footer ===== 
// footer {
// 	padding-top: 10px; 
// }

// main li {
// 	list-style-position: inside; 
// }

// #information {
// 	clear: both; 
// }