// ===== CSS charset ===== 
@charset "UTF-8";

// ===== Base parameters for entire document ===== 
* {
	padding: 0; 
	margin: 0; 
	outline: none; 
	box-sizing: border-box; 
}

// ===== Styling for the main containing elements ===== 
body {
	background-color: #FFFFFF; 
	color: #000000; 
}

#wrapper {
	background-color: #EEEEEE; 
	border-radius: 6px; 
	margin: 10px; 
	padding: 5px; 
}

// ===== Styling for the header ===== 
header {
	text-align: center; 
	text-decoration: underline;
	padding-bottom: 10px; 
}


// ===== Styling for the navigation menu ===== 
nav {
	position: sticky; 
	text-align: center; 
	padding: 5px; 
	width: 15%; 
	float: left; 
	background-color: #8888DD; 
	top: 5px; 
}

nav a {
	width: 100%; 
	display: block; 
	background-color: #6666CC; 
	color: #FFFFFF; 
	margin: 2px; 
	border: 1px solid #000000; 
}

// ===== Styling for the main page content ===== 
main {
	padding: 5px; 
	width: 85%;
	float: right; 
	background-color: #CCCCCC;
}

main button {
	margin: 5px;
	padding: 5px;
}

main li {
	list-style-position: inside; 
}

// ===== Styling for the 'scripts' component ===== 
div#scripts {
	clear: both; 
}

// ===== Styling for the footer ===== 
footer {
	padding: 10px; 
	background-color: #DDDDDD; 
	border-radius: 0 0 6px 6px; 
	margin: auto; 
}

// ===== Styling for components within the pages ===== 
.flex {
	display: flex;
	flex-wrap: wrap; 
}

.col {
	margin: 10px;
	border: 1px solid #000000; 
}

#game {
	border: 2px solid #33BB33; 

	// Clean rendering 
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
}


