// ===== CSS charset ===== 
@charset "UTF-8";

// ===== Base parameters for entire document ===== 
* {
	padding: 0; 
	margin: 0; 
	outline: none; 
	box-sizing: border-box; 
}

// ===== Styling for the main containing elements ===== 
body {
	background-color: #FFFFFF; 
	color: #000000; 
}

#wrapper {
	background-color: #EEEEEE; 
	border-radius: 6px; 
	margin: 10px; 
	padding: 5px; 
}

// ===== Styling for the header ===== 
header {
	text-align: center; 
	padding-bottom: 10px; 
}

header h1 {
	font-size: 3.5em; 
	color: #111111;
}

// ===== Styling for the navigation menu ===== 
nav {
	position: sticky; 
	text-align: center; 
	padding: 5px; 
	width: 15%; 
	float: left; 
	background-color: #8888DD; 
	top: 5px; 
}

nav #user {
	padding: 5px; 
	font-size: 1em; 
}

nav a {
	width: 100%; 
	display: block; 
	background-color: #6666CC; 
	color: #FFFFFF; 
	margin: 2px; 
	border: 1px solid #000000; 
}

// ===== Styling for the main page content ===== 
main {
	padding: 5px; 
	width: 85%;
	float: right; 
	background-color: #CCCCCC;
}

main input[type="number"] {
	min-width: 100px; 
}

main button, main input, main label {
	margin: 5px;
	padding: 5px;
}

main li {
	list-style-position: inside; 
}

main .messages span {
	display: block;
}

main .successes {
	background-color: #55FF55; 
}

main .errors {
	background-color: #FF5555; 
}

main .informational {
	background-color: #5555FF; 
}

main .loginforms article {
	margin: 10px; 
}

// ===== Styling for the 'scripts' component ===== 
div#scripts {
	clear: both; 
}

// ===== Styling for the footer ===== 
footer {
	padding: 10px; 
	background-color: #DDDDDD; 
	border-radius: 0 0 6px 6px; 
	margin: auto; 
}

footer p {
	text-align: center; 
	font-size: 0.9em; 
	margin: 2px; 
}

// ===== Styling for components within the pages ===== 
.flex {
	display: flex;
	flex-wrap: wrap; 
	justify-content: center; 
}

.col {
	margin: 10px;
	border: 1px solid #000000; 
	padding: 5px; 
}

// ===== Adjustments for different screen widths ===== 
@media only screen and (max-width: 918px) {
	main {
		float: none;
		width: 100%;
	}

	main article {
		width: 100%;
	}

	nav {
		float: none; 
		position: relative;
		width: 100%;
	}
}


