extends ..\\templates\\layout

block header
    | About the Powder Game

block content
    article
        p This is a falling powder game. Powder falls from the top of the canvas and can also be created by clicking on the canvas. 

