extends ..\\templates\\layout

block content
    #content
        main.main
            #gameContainer
                canvas#game.game Please use a canvas enabled browser.

            button#start Start
            button#stop Stop
            button#tick Tick
            button#reset Reset

            script.
                window.Globals = {
                    width: { x: 64, y: 64 },
                    scale: 6,
                    canvas: 'game',
                    running: false,
                    molecules: {
                        Particle: 0,
                        Empty: 1,
                        Block: 100,
                        Powder: 200,
                        Sand: 201,
                        Snow: 202
                    }
                }

block scripts
    script(src='/js/lib/jquery.js')
    script(src='/js/app.js')
