extends ..\\templates\\layout

block header
    | Powder Game

block content
    #innerWrapper.flex
        article#controls.col
            button#start Start
            button#stop Stop
            button#tick Tick
            button#reset Reset

            button#makeFloor Make Floor
            button#removeFloor Remove Floor

            button#startGenerate Start Generate
            button#stopGenerate Stop Generate

            form(method="get" action="/" id="sizes")
                input(type="number" min="100" max="1000" id="sizesx" class="setSizes" name="x")
                input(type="number" min="100" max="1000" id="sizesy" class="setSizes" name="y")
                input(type="submit" value="Submit" id="sizessubmit" name="submit")

        article(name="gameArea")#gameArea.col
            canvas(name="game")#game.game Please use a canvas enabled browser.

        article#information.col
            p This is a powder game.
            p It includes falling powder.

block scripts
    script.
            window.Globals = {
                width: { x: 300, y: 300 },
                scale: 1,
                sizeOffset: 100, 
                ids: {
                    canvas: 'game',
                    container: 'gameArea',
                    innerWrapper: 'innerWrapper',
                    start: 'start',
                    stop: 'stop',
                    tick: 'tick',
                    reset: 'reset',
                    makeFloor: 'makeFloor',
                    removeFloor: 'removeFloor',
                    startGenerate: 'startGenerate',
                    stopGenerate: 'stopGenerate',
                    sizesForm: 'sizes'
                },
                running: false,
                molecules: {
                    Particle: 0,
                    Empty: 1,
                    Block: 100,
                    Powder: 200,
                    Sand: 201,
                    Snow: 202, 
                    Oil: 203, 
                    Salt: 204, 
                    Water: 205
                }
            }
    script(src='/lib/jquery.js')
    script(src='/dist/app.js')
