extends templates\\layout

block content
    #content
        main.main
            #gameContainer
                canvas#game.game Please use a canvas enabled browser.
            
            button#start Start
            button#stop Stop
            button#tick Tick

            script.
                window.Globals = {
                    width: { x: 128, y: 128 },
                    canvas: 'game',
                    molecules: {
                        Particle: 0,
                        Empty: 1,
                        Block: 100,
                        Powder: 200,
                        Sand: 201,
                        Snow: 202
                    }
                }

block scripts
    script(src='/js/lib/jquery.js')
    script(src='/js/app.js')
