extends ..\\templates\\layout

block header
    | Powder Game

block content
    #innerWrapper.flex
        article#controls.col
            button#start Start
            button#stop Stop
            button#tick Tick
            button#reset Reset

            button#makeFloor Make Floor
            button#removeFloor Remove Floor

            button#startGenerate Start Generate
            button#stopGenerate Stop Generate

            form(method="get" action="/" id="sizes")
                label(for="sizesx")= "X Size: "
                input(type="number" min="50" max="1000" step="1" id="sizesx" class="setSizes" name="x" required)
                label(for="sizesy")= "Y Size: "
                input(type="number" min="50" max="1000" step="1" id="sizesy" class="setSizes" name="y" required)
                input(type="submit" value="Submit" id="sizessubmit" name="submit")
                input(type="reset" value="Reset" id="sizesreset" name="reset")

            label(for="typest")= "Pen Type: "
            input(type="number" min="1" step="1" id="typest" class="setTypes" name="t")
            label(for="typesr")= "Pen Size: "
            input(type="number" min="0" step="1" id="typesr" class="setTypes" name="r")
            button(type="button" id="typesButton" name="typesButton") Set Type

        article(name="gameArea")#gameArea.col
            canvas(name="game")#game.game Please use a canvas enabled browser.

        article#information.col
            p This is a game about falling powder. Powder falls or can be created. 

block scripts
    script.
        window.Globals = {
            width: { x: 300, y: 300 },
            scale: 1
        }
    script(src='/lib/jquery.js')
    script(src='/dist/app.js')
