extends ..\\templates\\layout

block content
    #content
        main.main
            #gameContainer
                canvas#game.game Please use a canvas enabled browser.

            #controlButtons.buttonContainer
            button#start Start
            button#stop Stop
            button#tick Tick
            button#reset Reset

            #floorButtons.buttonContainer
            button#makeFloor Make Floor
            button#removeFloor Remove Floor

            script.
                window.Globals = {
                    width: { x: 64, y: 64 },
                    scale: 6,
                    canvas: 'game',
                    running: false,
                    molecules: {
                        Particle: 0,
                        Empty: 1,
                        Block: 100,
                        Powder: 200,
                        Sand: 201,
                        Snow: 202, 
                        Oil: 203, 
                        Salt: 204, 
                        Water: 205
                    }
                }

block scripts
    script(src='/lib/jquery.js')
    script(src='/dist/app.js')
