extends ../templates/layout

block content
  .container

      form(action='/login', method='post')
        h3 Login

        - console.log(success, error)
        if success.length
          blockquote
            em= success
        if error.length
          blockquote
            em= error

        fieldset
          input(type='hidden', name='goto', value=req.query.goto)

          label(for='username') Username
          input(type='text', name='username', placeholder='Username' autocorrect='off', spellcheck='false', autocapitalize='off', autofocus='true')#username

          label(for='password') Password
          input(type='password', name='password', placeholder='Password')#password

          input(type='submit', value='Login').button-outline

      form(action='/register',  method='post')
        h3 Register

        fieldset
          input(type='hidden', name='goto', value=req.query.goto)

          label(for='username') Username
          input(type='text', name='username', placeholder='Username' autocorrect='off', spellcheck='false', autocapitalize='off', autofocus='true')#username

          label(for='password') Password
          input(type='password', name='password', placeholder='Password')#password

          input(type='submit', value='Register').button-outline
