extends ..\\templates\\layout

//- block header
//-     h1#title Powder Game Particles

block content
    article
        p This game has the following particles. 
        ul
            li Oil
            li Water
            li Sand
            li Snow
            li Salt

