/* .game {
    border: 2px solid black;
} */

.game {
	display: block;
	outline: 1px dashed blue;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	transform: scale(20);
	transform-origin: left top;
}